{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Pastelería Eliel</title>
        <link rel="stylesheet" href="{% static 'css/principalPage/home/styles.css' %}">
		<link rel="stylesheet" href="{% static 'css/principalPage/producto/header.css' %}">
		<link rel="stylesheet" href="{% static 'css/principalPage/producto/navbar.css' %}">
	</head>
	<body>
		<header class="header">
			<div class="header__navigation">
			  <img class="header__menu" src="./images/icon-menu.svg" alt="menu icon">
			  <img class="header__logo" src="{% static 'imagen/logo/logoIcono.png' %}" alt="logo">
			  <nav class="navbar">
				<ul class="navbar__items">
					<li><a class="navbar__link" href="{% url "home" %}">Inicio</a></li>
					<li><a class="navbar__link" href="#">Contacto</a></li>
					<li><a class="navbar__link" href="{% url "envios_cliente" %}">Estado Envío</a></li>
				</ul>
			  </nav>
			</div>
	  
			<div class="header__cart-avatar">
			  <div class="header__cart">
				<div class="header__cart--notification">0</div>
				<img src="{% static 'imagen/icono/icon-cart.svg' %}" alt="">
			  </div>
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				{% if user.is_authenticated %}
					{{ user.username }}
				{% else %}
					Login
				{% endif %}
				</a>
			</div>
		  </header>


		<main class="main-content">


			<section class="container top-products">
				<h1 class="heading-1">Cheesecake</h1>

				<div class="container-options">
					<span><a href="{% url 'carta' %}">Todos</a></span>
					<span><a href="{% url 'pasteleria_tradicional' %}">Pastelería Tradicional</span>
					<span><a href="{% url 'tortas_modernas' %}">Tortas Modernas</a></span>
					<span><a href="{% url 'panaderia' %}">Panadería</span>
					<span><a href="{% url 'tortas_heladas' %}">Tortas Heladas</span>
					<span><a href="{% url 'bolleria' %}">Bollería</span>
					<span><a href="{% url 'dulce_tentacion' %}">Dulce Tentación</span>
					<span class="active">Cheesecake</span>
				</div>

				<div class="container-products">
					<!-- Producto 1 -->
                    {% for producto in productos %}
                        <div class="card-product">
							{% with producto.presentaciones.first as presentacion %}
							{% with producto.valores.first as valor %}
                            <div class="container-img">
                                {% if presentacion.imagen %}
								<img src="{{ presentacion.imagen.url }}" alt="{{ producto.nombre }}">
								{% else %}
									No image
								{% endif %}
                                <div class="button-group">
                                    <span>
                                        <i class="fa-regular fa-eye"></i>
                                    </span>
                                    <span>
                                        <i class="fa-regular fa-heart"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-code-compare"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="content-card-product">
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
								<a href="{% url 'detalleProducto' producto.id_producto %}">
                                	<h3>{{ producto.nombre }}</h3>
								</a>
                                <span class="add-cart">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                </span>
                                <p class="price">{{ valor.precio }}</p>
                            </div>
							{% endwith %}
							{% endwith %}
                        </div>
                    {% endfor %}
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>
								Dirección: 
								Nueva Norte y Parque Manuel Rodríguez
							</li>
							<li>Teléfono: +569 50671415</li>
							<li>EmaiL: pasteleriaeliel@gmail.com</li>
						</ul>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Acerca de Nosotros</a></li>
							<li><a href="#">Información Delivery</a></li>
							<li><a href="#">Políticas de Privacidad</a></li>
							<li><a href="#">Términos y condiciones</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Redes Sociales</p>

						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
            					<a href="https://web.facebook.com/ElielPasteleria/?_rdc=1&_rdr" target="_blank"><i class='bx bxl-facebook' style='color:#4579a8'></i></a>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
								<a href="https://www.instagram.com/pasteleriaeliel/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><i class='bx bxl-instagram' style='color:#a8459a'></i></a>
							</span>
						</div>
					</div>

					<div class="newsletter">
						<p class="title-footer">Boletín informativo</p>

						<div class="content">
							<p>
								Suscríbete a nuestros boletines ahora y mantente al
								día con nuevos productos y ofertas exclusivas.
							</p>
							<input type="email" placeholder="Ingresa el correo aquí...">
							<button>Suscríbete</button>
						</div>
					</div>
				</div>

				<div class="copyright">
					<p>
						Pastelería Eliel &copy; 2023
					</p>

					<img src="{% static 'imagen/icono/payment.png' %}" alt="Pagos">
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
