{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  {% block link %}
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/main2.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/details.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/gallery-modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/gallery.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/initial.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/input.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/mixins.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/modal-cart.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/modal-navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/principalPage/producto/variables.css' %}">
  <title>Producto</title>
  <link rel="stylesheet" href="./main.css">
  {% endblock  %}
  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 18px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>

  <main class="main-container">
    <header class="header">
      <div class="header__navigation">
        <img class="header__menu" src="./images/icon-menu.svg" alt="menu icon">
        <img class="header__logo" src="{% static 'imagen/logo/logoIcono.png' %}" alt="logo">

        <nav class="navbar">
          <ul class="navbar__items">
            <li><a class="navbar__link" href="#">Collections</a></li>
            <li><a class="navbar__link" href="#">Men</a></li>
            <li><a class="navbar__link" href="#">Women</a></li>
            <li><a class="navbar__link" href="#">About</a></li>
            <li><a class="navbar__link" href="#">Contact</a></li>
          </ul>
        </nav>


      </div>

      {% comment %} <!-- inicio modal navbar -->
      <div class="modal-navbar__background">
        <nav class="modal-navbar">
          <img class="modal-navbar__close-icon" src="./images/icon-close.svg" alt="" srcset="">
          <ul class="modal-navbar__items">
            <li><a class="modal-navbar__link" href="#">Collections</a></li>
            <li><a class="modal-navbar__link" href="#">Men</a></li>
            <li><a class="modal-navbar__link" href="#">Women</a></li>
            <li><a class="modal-navbar__link" href="#">About</a></li>
            <li><a class="modal-navbar__link" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- final modal navbar --> {% endcomment %}

      <div class="header__cart-avatar">
        <div class="header__cart">
          <div class="header__cart--notification">0</div>
          <img src="{% static 'imagen/icono/icon-cart.svg' %}" alt="">
        </div>
        <img class="header__avatar" src="{% static 'imagen/icono/icono_cliente.png' %}" alt="">
      </div>
    </header>

    <section class="content">
      <article class="gallery">
        <div class="gallery__image-container">
          <img class="gallery__previus" src="{% static 'imagen/icono/icon-previous.svg' %}" alt="previus">
          <img class="gallery__next" src=" {% static 'imagen/icono/icon-next.svg' %}" alt="next">
        </div>
      </article>

      <article class="details">
        <h2 class="details__company">Pastelería Eliel</h2>
        <h2 class="details__title">Nombre Producto</h2>
        <p class="details__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquid? Aliquam commodi repellendus voluptates ratione, voluptatibus ex animi ipsum ab, sit mollitia illo quisquam quam consectetur ipsam iusto vitae temporibus.</p>
        <div class="details__prices">
          <p class="details__now">$125.00</p>
        </div>
        <div class="details__product-quantity">
          <div class="input">
            <img class="input__minus" src="{% static 'imagen/icono/icon-minus.svg' %}" alt="minus">
            <input class="input__number" type="text" value="0">
            <img class="input__plus" src=" {% static 'imagen/icono/icon-plus.svg' %}" alt="plus">
          </div>
          <button class="details__button"> <img src="{% static 'imagen/icono/icon-cart-white.svg' %}" alt="">Agregar al Carrito</button>
        </div>
      </article>
    </section>

    <!-- inicio cart modal -->
    <div class="cart-modal">
      <p class="cart-modal__title">Carrito</p>
      <div class="cart-modal__chekout-container">
        <div class="cart-modal__details-container">
          <img class="cart-modal__image" src="./images/image-product-1-thumbnail.jpg" alt="">
          <div>
            <p class="cart-modal__product">Producto</p>
            <p class="cart-modal__price">$125 x3 <span>$375.00</span> </p>
          </div>
          <img class="cart-modal__delete" src="{% static 'imagen/icono/icon-delete.svg' %}" alt="delete">
        </div>
        <button class="cart-modal__chekount" >Pagar</button>
      </div>
    </div>
    <!-- fin cart modal -->

    
  </main>
  
  <footer class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://www.youtube.com/CodingTube" target="_blank">David Ruiz</a>.
  </footer>

  <script>
    // Cambio de cantidad de articulos ingresado por el usuario.

const minusBtn = document.querySelector('.input__minus');
const plusBtn = document.querySelector('.input__plus');
let userInput = document.querySelector('.input__number');

let userInputNumber = 0;

plusBtn.addEventListener('click', ()=>{
    userInputNumber++;
    userInput.value = userInputNumber;
    console.log(userInputNumber);
});

minusBtn.addEventListener('click', ()=>{
    userInputNumber--;
    if(userInputNumber <= 0){
        userInputNumber = 0;
    }
    userInput.value = userInputNumber;
    console.log(userInputNumber);
});

// Agregar el total de productos al carrito cuando se presiona el boton ADD TO CART
const addToCartBtn = document.querySelector('.details__button');
let cartNotification = document.querySelector('.header__cart--notification');
let lastValue = parseInt(cartNotification.innerText);

addToCartBtn.addEventListener('click', ()=>{ 
    lastValue = lastValue + userInputNumber;
    
    cartNotification.innerText = lastValue;
    cartNotification.style.display = 'block';
    drawProductInModal();
    
});

//Mostrar el modal con el detalle del carrito
const cartIconBtn = document.querySelector('.header__cart');
const cartModal = document.querySelector('.cart-modal');
// let priceModal = document.querySelector('.cart-modal__price');
const productContainer = document.querySelector('.cart-modal__chekout-container');

cartIconBtn.addEventListener('click', ()=>{
    cartModal.classList.toggle('show');

    if(lastValue === 0){
        productContainer.innerHTML = '<p class="cart-empty">Your cart is empty</p>';
    }else{
        drawProductInModal();
    }
    
});

//Borrar el contenido del carrito
function deleteProduct(){
    const deleteProductBtn = document.querySelector('.cart-modal__delete');
    deleteProductBtn.addEventListener('click', ()=>{
        productContainer.innerHTML = '<p class="cart-empty">Your cart is empty</p>';
        lastValue = 0;
        cartNotification.innerText = lastValue;
    });
}

// Cambiar imagenes cuando se presione los botones flecha.
const imageContainer = document.querySelector('.gallery__image-container');
const previusGalleryBtn = document.querySelector('.gallery__previus');
const nextGalleryBtn = document.querySelector('.gallery__next');
let imgIndex = 1;

nextGalleryBtn.addEventListener('click', ()=>{
    changeNextImage(imageContainer);
});

previusGalleryBtn.addEventListener('click', ()=>{
    changePreviusImage(imageContainer);
});


//Mostrar el modal de imagenes cuando hago click en la imagen principal.
const imagesModal = document.querySelector('.modal-gallery__background');
const closeModalBtn = document.querySelector('.modal-gallery__close');

imageContainer.addEventListener('click', ()=>{
    if(window.innerWidth >= 1115){
        imagesModal.style.display = 'grid';
    }
    
});

closeModalBtn.addEventListener('click', ()=>{
    imagesModal.style.display = 'none';
});

//Cambiar las imagenes principales desde los thumbnails
let thumbnails = document.querySelectorAll('.gallery__thumnail')
thumbnails = [...thumbnails]

thumbnails.forEach(thumbnail => {
    thumbnail.addEventListener('click', event=>{
        console.log(event.target.id)
        imageContainer.style.backgroundImage = `url('../images/image-product-${event.target.id}.jpg')`
    });
});

//Cambiar las imagenes principales desde los thumbnails en el MODAL
let modalthumbnails = document.querySelectorAll('.modal-gallery__thumnail');
const modalImageContainer = document.querySelector('.modal-gallery__image-container')
modalthumbnails = [...modalthumbnails]

modalthumbnails.forEach(modalthumbnail => {
    modalthumbnail.addEventListener('click', event=>{
        console.log(event.target.id.slice(-1))
        modalImageContainer.style.backgroundImage = `url('../images/image-product-${event.target.id.slice(-1)}.jpg')`
    });
});

// Cambiar imagen principal de modal desde flechas en el modal
const previusModalBtn = document.querySelector('.modal-gallery__previus');
const nextModalBtn = document.querySelector('.modal-gallery__next');

nextModalBtn.addEventListener('click', ()=>{
    changeNextImage(modalImageContainer);
});

previusModalBtn.addEventListener('click', ()=>{
    changePreviusImage(modalImageContainer);
});

// Mostrar el navbar cuando presiono el menu de hamburgesa
const hamburgerMenu = document.querySelector('.header__menu');
const modalNavbar = document.querySelector('.modal-navbar__background');
const closeModalNavbar = document.querySelector('.modal-navbar__close-icon');

modalNavbar.style.display = 'none'

hamburgerMenu.addEventListener('click', ()=>{
    console.log('abrir modal');
    modalNavbar.style.display = 'block';
});

closeModalNavbar.addEventListener('click', ()=>{
    modalNavbar.style.display = 'none';
});





// FUNCIONES

function drawProductInModal(){
    productContainer.innerHTML = `
        <div class="cart-modal__details-container">
            <img class="cart-modal__image" src="./images/image-product-1-thumbnail.jpg" alt="">
            <div>
            <p class="cart-modal__product">Producto</p>
            <p class="cart-modal__price">$125 x3 <span>$375.00</span> </p>
            </div>
            <img class="cart-modal__delete" src="imagen/icono/icon-delete.svg" alt="eliminar">
        </div>
        <button class="cart-modal__chekount" >Confirmar</button>`
    deleteProduct()
    let priceModal = document.querySelector('.cart-modal__price');
    priceModal.innerHTML = `$125 x${lastValue} <span>$${lastValue*125}.00</span>`;
}

function changeNextImage(imgContainer){
    if(imgIndex === 4){
        imgIndex = 1;
    }else{
        imgIndex++;
    }
    imgContainer.style.backgroundImage = `url('../images/image-product-${imgIndex}.jpg')`
}

function changePreviusImage(imgContainer){
    if(imgIndex === 1){
        imgIndex = 4;
    }else{
        imgIndex--;
    }
    imgContainer.style.backgroundImage = `url('../images/image-product-${imgIndex}.jpg')`
}
  </script>
</body>
</html>