{% load static %}
<nav class='container'>
    <div class="row">
        <div class="col-md-12 col-sm-12">

            
                <div class="nav-menu">
                    <div class="nav-logo">
                        <ul>
                            <li><img src="{% static 'imagen/logo/logo.webp' %}" alt="logo"></li>
                        </ul>
                    </div>
                    <div class="nav-link">
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li>Carta</li>
                            <li>Contacto</li>
                            <li><a href="{% url "login_cliente" %}">Ingresar</a></li>
                            <li><a href="{% url "registro_cliente" %}">Registrarse</a></li>
                            <li><a href="{% url 'interfazAdministrador' %}">Administrador</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</nav>