{% extends "interfaceAdmin/interfaceHome/interfazAdmin.html" %}
{% block formulario %}

<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-ms-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                {% if clientes %}
                <table class="table" id="datatable-products">
                    <thead>
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">ID</th>
                            <th class="centered">Nombre</th>
                            <th class="centered">Apellido</th>
                            <th class="centered">Email</th>
                            <th class="centered">Telefono</th>
                            
                        </tr>
                    </thead>
                    <tbody id="datatable-products">
                        {% for p in clientes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ p.id_cliente }}</td> 
                            <td>{{ p.nombre }}</td>
                            <td>{{ p.apellido}}</td>
                            <td>{{ p.email }}</td>
                            <td>{{ p.telefono }}</td>                       
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-danger" role="alert">
                   No existen clientes registrados
                  </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

        
  
  
  {% endblock  %}