{% extends "interfaceAdmin/interfaceHome/interfazAdmin.html" %}
{% block formulario %}

<div class="row">
    <div class="col-sm-12 col-md-12 ">
        <form class="form" method="post" action="{% url 'registrarProveedor' %}">
            {% csrf_token %}
            
            <p class="title">Registrar Proveedor</p>
        
            <div class="flex">
                <label>
                    <span>Nombre</span>
                    {{ form_proveedor.nombre }}
                </label>
            </div>
        
            <label>
                <span>Dirección</span>
                {{ form_proveedor.direccion }}
            </label>
        
            <label>
                <span>Teléfono</span>
                {{ form_proveedor.telefono }}
            </label>

            <label>
                <span>Web</span>
                {{ form_proveedor.web }}
            </label>
        
            <button class="submit" type="submit">Submit</button>
           
        </form>

    </div>
</div>

{% endblock  %}