{% extends "interfaceAdmin/interfaceHome/interfazAdmin.html" %}
{% block formulario %}

<div class="row">
    <div class="col-sm-12 col-md-12 ">
        <form class="form" method="post">
            {% csrf_token %}
            
            <p class="title">Registrar Envios</p>
        
            <label>
                <span>ID ENVÍO</span>
                {{ form.id_envio }}
            </label>

            <label>
                <span>Fecha Envío</span>
                {{ form.fecha_envio }}
            </label>

            <label>
                <span>Fecha Entrega</span>
                {{ form.fecha_entrega }}
            </label>
        
            <label>
                <span>Recibido Por</span>
                {{ form.recibido_por }}
            </label>
        
            <label>
                <span>Rut</span>
                {{ form.rut }}
            </label>

            <label>
                <span>ID Compra</span>
                {{ form.id_compra }}
            </label>

            <label>
                <span>ID Estado Envío</span>
                {{ form.id_estado_envio }}
            </label>
        
            <button class="submit" type="submit">Submit</button>
           
        </form>

    </div>
</div>

{% endblock  %}