{% extends "interfaceAdmin/interfaceHome/interfazAdmin.html" %}
{% load humanize %}
{% load app_filters %}
{% block formulario %}

<div class="container">
    <h1 class="form-envios-principal">Registro de Envios</h1>
    <div class="row">
        <div class="col-ms-12 col-md-12 col-lg-12">
            <form method="POST">
                {% csrf_token %}
                <div class="form-envios">
                    <h2 class='title-envios'>Editar envío</h2>
                    {{ envio_form.as_p }}
                    
                </div>
                <div class="form-envios">
                    <h2 class='title-envios'>Editar compra</h2>
                    {{ compra_form.as_p }}

                </div>
                <div class="form-envios">
                    <h2 class='title-envios'>Editar estado de envío</h2>
                    {{ estadoenvio_form.as_p }}

                </div>

              <button type="submit" class='btn btn-success'>Guardar cambios</button>
            </form>
          

        </div>
    </div>
</div>

        
  
  
  {% endblock  %}
