{% extends "interfaceAdmin/interfaceHome/interfazAdmin.html" %}
{% block formulario %}

<div class="row">
    <div class="col-sm-12 col-md-12 ">
        {% if mensaje %}
            <div class="alert alert-success" role="alert">
                {{mensaje}}
            </div>
        {% endif %}
        <form class="form" method="post">
            {% csrf_token %}
            
            <p class="title">Registrar Productos</p>

            <div class="flex">
                <label>
                    {{ form.nombre }}
                    <span>Nombre</span>
                </label>
                
                <label>
                    {{ form.tipo }}
                    <span>Tipo</span>
                </label>
            </div>
        
            <label>
                <span>Descripción</span>
                {{ form.descripcion }}
            </label>
        
            <label>
                <span>Estado</span>
                {{ form.estado }}
            </label>
        
            <!-- Otros campos según sea necesario -->
        
            <button class="submit" type="submit">Guardar</button>
           
        </form>

    </div>
</div>


        
  
  
  {% endblock  %}

