{% extends "interfaceAdmin/interfaceHome/interfazAdmin.html" %}
{% block formulario %}

<div class="row">
    <div class="col-sm-12 col-md-12 ">

        {% if mensaje %}
        <div class="alert alert-success" role="alert">
            {{mensaje}}
        </div>
        {% endif %}
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
          <p class="title">{{ title }}</p>
            <label>
                <span>Imagen</span>
                {{ form.imagen }}
            </label>
        
            <label>
                <span>Id Producto</span>
                {{ form.id_producto }}
            </label>
        
            <!-- Otros campos según sea necesario -->
        
            <button class="submit" type="submit">Guardar</button>
           
        </form>

    </div>
</div>


        
  
  
  {% endblock  %}
