{% extends "interfaceAdmin/interfaceHome/interfazAdmin.html" %}
{% block formulario %}

<div class="row">
    <div class="col-sm-12 col-md-12 ">
        <form class="form" method="post" >
            {% csrf_token %}
            
            <p class="title">Registrar Ingrediente</p>
        
            <label>
                <span>Producto</span>
                {{ form.id_producto }}
            </label>

            <label>
                <span>Proveedor</span>
                {{ form.id_proveedor }}
            </label>

            <label>
                <span>Nombre</span>
                {{ form.nombre }}
            </label>
        
            <label>
                <span>Descripción</span>
                {{ form.descripcion }}
            </label>
        
            <label>
                <span>Unidad de Medida</span>
                {{ form.unidad_medida }}
            </label>

            <label>
                <span>Precio</span>
                {{ form.precio }}
            </label>

            <label>
                <span>Stock</span>
                {{ form.stock }}
            </label>
        
            <button class="submit" type="submit">Submit</button>
           
        </form>

    </div>
</div>

{% endblock  %}