/* style.css */
html{
  font-size: 62.5%;
}
:root{
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
  --text-smol: 1.2rem;
  --text-md: 1.4rem;
  --text-lg: 1.6rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Epilogue';
  src: url(./fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}

body {
  font-family: 'Epilogue';
  color: var(--AlmostBlack);
  background-color: var(--Almost-White);
  display: flex;
  flex-direction: row;
}


header {
  background-color: #ffffff;
  position: absolute;
  display: flex;
  color: #fff;
  padding: 10px;
  width: 210px;
  height: 100vh;
  border-right: 4px solid rgb(217, 217, 218);
  box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16); 
  -moz-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16); 
  -webkit-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16);
}

  & .nav1{
      color: var(--Medium-Gray);
      margin: 0 auto;
      
  }
    & .nav-logo{
      width: 14.0rem;
    }


    & li{
        list-style-type: none;
        cursor: pointer;
        margin-bottom: 26px;  
        font-size: var(--text-md);
    }
    & .Admin-ul{
        display: none;
        margin-left: 28px;
        width: 200px;
        background:var(--Almost-White) ;
        border-radius: 6px;
        padding: 6px;
        box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16); 
        -moz-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16); 
        -webkit-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16);
    }



    & .Admin-img{
        margin-right: 14px;
        width: 16px;
        height: 16px;
        
    }
    & .iconoPanadero{
      margin-right: 1rem;
    }

    & .menu-btn{
        display: inline-block;
        padding: 0.9rem 1.8rem;
        font-family: 'Epilogue';
        font-size: var(--text-smol);
        font-weight: 700;
        color: rgb(1, 1, 75);
        background-color: var(--Almost-White);
        border: none;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        width: 13.0rem;
        height: 3.6rem;
        text-align: center;
        border-radius: 6px; 
        margin-bottom: 1rem;
        box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16) inset; 
        -moz-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16) inset; 
        -webkit-box-shadow: 6px 10px 6px 0px rgba(0, 0, 0, 0.16) inset;

     } 

    & .menu-btn:hover{
        color: #fff;
    }

    & .menu-btn::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: rgb(10, 13, 14);
        transform: translateX(-100%);
        transition: all .1s;
        z-index: -1;
    }
    & .menu-btn:hover::before{
        transform: translateX(0);
    } 
main{
  margin-left: 210px;
}
.menu-right {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10%;
}
  

.nav2{
  width: 100%;
  color: black;
}


