*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
:root{
    --color-white: #ffffff;
    --ms: 12px;
    --md: 14px;
    --lg: 16px;

}
body{
    background: #FAF6F3;
}

.navbar{
    border-radius: 10px;
}
.navbar-nav {
    margin-left: auto;
}

.logoPrincipal{
    width: 150px;
    height: 100px;
}