{% load static %}
<main class="main">
        <div class="container">
            <div class="row">
                <div class="container">
                    
                    <div class="col-md-12 col-sm-12">
                        <div class="title-container">
                            <div class="title-principal">
                                <div class="loader">
                                    <span>Eliel Pastelería Gourmet</span>
                                    <span>Eliel Pastelería Gourmet</span>
                                </div>
                            </div>
                            <div>
                                <a href="#" class='btn-contacto'>Contactanos</a>
                            </div>
                        </div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'imagen/principalPage/eliel-navidad.jpg' %}" class="d-block " alt="...">
                            </div>
                            <div class="carousel-item">
                                    <img src="{% static 'imagen/principalPage/eliel-navidad2.jpg' %}" class="d-block " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'imagen/principalPage/eliel-navidad3.jpg' %}" class="d-block " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'imagen/principalPage/eliel-navidad4.jpg' %}" class="d-block " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'imagen/principalPage/eliel-navidad5.jpg' %}" class="d-block " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'imagen/principalPage/eliel-navidad6.jpg' %}" class="d-block " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'imagen/principalPage/eliel-navidad7.jpg' %}" class="d-block " alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="materialesDeTrabajo">
                            <h1>Materiales de Trabajo</h1>
                            <p>
                                En nuestra pastelería moderna, nos apasiona la innovación en cada aspecto de nuestro arte culinario. 
                                    Por eso, utilizamos moldes de pastelería de marcas reconocidas como Valrhona, Sosa Ingredients y Pavoni para llevar nuestros postres a un nivel completamente nuevo.
                            </p>
                                
                            
                            
                        </div>
                        <ul class='materiales-link'>
                            <li><a href="#" class='enlace' data-target="tarjeta1">VALHRONA</a></li>
                            <li><a href="#" class='enlace' data-target="tarjeta2">SOSA INGREDIENTS</a></li>
                            <li><a href="#" class='enlace' data-target="tarjeta3">PAVONI</a></li>
                        </ul>
                </div>
                        <div class="row">
                            <div class="col-md-12">
    
                                <div class="tarjetas">
                                    <div class="tarjeta" id="tarjeta1">
                                        <div class="tarjeta-position">
                                            <div class="imagen">
                                                <img src="{% static 'imagen/principalPage/valhrona.png' %}" alt="material1">
                                            </div>
                                            <div class="contenido">
                                                <h4>Valrhona es una marca líder en el mundo del chocolate de alta calidad.</h4>
                                                <p>Sus moldes nos permiten crear diseños intrincados y detalles impresionantes 
                                                    en nuestras creaciones. Desde elegantes formas geométricas hasta diseños 
                                                    inspirados en la naturaleza, estos moldes nos brindan la versatilidad 
                                                    necesaria para dar vida a nuestras ideas más creativas.</p>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    <div class="tarjeta" id="tarjeta2">
                                        <div class="tarjeta-position">
                                            <div class="imagen">
                                                <img src="{% static 'imagen/principalPage/sosa.png' %}" alt="material1">
                                            </div>
                                            <div class="contenido">
                                                <h4>Sosa Ingredients es otra marca destacada en la industria de la pastelería.</h4>
                                                <p>Nos proporciona moldes que nos permiten jugar con texturas y formas únicas. Sus 
                                                    moldes de silicona de alta calidad nos permiten crear efectos sorprendentes en 
                                                    nuestros postres, como texturas suaves y esponjosas, patrones intrincados y formas 
                                                    elegantes.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tarjeta" id="tarjeta3">
                                        <div class="tarjeta-position">
                                            <div class="imagen">
                                                <img src="{% static 'imagen/principalPage/pavoni.png' %}" alt="material1">
                                            </div>
                                            <div class="contenido">
                                                <h4>Pavoni es una marca reconocida por su amplia gama de moldes de silicona de alta calidad.</h4>
                                                <p>Estos moldes nos permiten explorar la creatividad al máximo, ya sea para crear postres con formas 
                                                    geométricas modernas o para replicar diseños clásicos con un toque contemporáneo. Con la ayuda
                                                    de los moldes Pavoni, podemos ofrecerte postres visualmente impresionantes que te dejarán sin 
                                                    aliento.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div class="servicioEmpresas">
                                        {% comment %} <img src="{% static 'imagen/principalPage/servicios.jpg' %}" alt=""> {% endcomment %}
                                        <div class="servicio-contenido">
                                            <h4>SERVICIO A EMPRESAS</h4>
                                            <p>¿Estás buscando una forma única y delicada de impresionar a tus clientes y empleados?. En nuestra pastelería 
                                                moderna, ofrecemos una amplía gama de productos innovadores y exquisitos que son perfectos para satisfacer 
                                                las necesidades de tu empresa.
                                                Ya sea que estés organizando un evento corporativo, una reunión de negocios, una conferencia o simplemente 
                                                deseas ofrecer un regalo especial a tus cientes, nuestros productos de pastelería moderna san la elección ideal. 
                                                Desde elegantes tartas y pasteles hasta delicadas galletas y macarons, cada bocado es una experiencia memorable.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
    
                                    <form class="form">
                                        <h1>Envianos un Mensaje</h1>
                                        <div class="flex">
                                            <label>
                                                <input required="" placeholder="" type="text" class="input">
                                                <span>Nombre</span>
                                            </label>
                                            
                                            <label>
                                                <input required="" placeholder="" type="text" class="input">
                                                <span>Apellido</span>
                                            </label>
                                        </div>  
                                        
                                        <label>
                                            <input required="" placeholder="" type="email" class="input">
                                            <span>Correo</span>
                                        </label> 
                                        
                                        <label>
                                            <input required="" type="tel" placeholder="" class="input">
                                            <span>Número de Teléfono</span>
                                        </label>
                                        <label>
                                            <textarea required="" rows="3" placeholder="" class="input01"></textarea>
                                            <span>Mensaje</span>
                                        </label>
                                        
                                        <button class="fancy" href="#">
                                            <span class="top-key"></span>
                                            <span class="text">Enviar</span>
                                            <span class="bottom-key-1"></span>
                                            <span class="bottom-key-2"></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
</main>

            