{% extends "principalPage/estructura/base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/interfazAdmin/styles.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/interfazAdmin/main.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/interfazAdmin/form.css' %}">
{% endblock  %}


{% block header %}
    {% comment %} <div class="col-sm-12 colmd-3"> {% endcomment %}

      <header class="sidebar">

        <div class="logo-details">
            <!-- <i class='bx bxl-c-plus-plus'></i> -->
            <img src="{% static "imagen/logo/logoPasteleriaEliel.png" %}" class='bx logo' alt="logo">
            <span class="logo_name">Pasteleria Eliel</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blanck">
                    <li><a class="link_name" href="#">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="{% url "listadoProductos" %}">
                        <i class='bx bxs-category'></i>
                        <span class="link_name">Productos</span>
                    </a>
                    <i class='bx bx-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="{% url "listadoProductos" %}">Productos</a></li>
                    <li><a href="{% url "registrarProducto" %}">Registrar Productos</a></li>
                    <li><a href="{% url "registrarPrecio" %}">Registrar Precio</a></li>
                    <li><a href="{% url "registrarImagen" %}">Registrar Imagen</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="">
                        <i class='bx bxs-user-circle' ></i>
                        <span class="link_name">Usuarios</span>
                    </a>
                    <i class='bx bx-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Usuarios</a></li>
                    <li><a href="">Registrar Usuario</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-pie-chart-alt-2'></i>
                    <span class="link_name">Compras</span>
                </a>
                <ul class="sub-menu blanck">
                    <li><a class="link_name" href="#">Compras</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-truck'></i>
                    <span class="link_name">Envios</span>
                </a>
                <ul class="sub-menu blanck">
                    <li><a class="link_name" href="#">Envios</a></li>
                </ul>
            </li>

        </ul>
      </header>

    {% comment %} </div> {% endcomment %}
{% endblock  %}

    

{% block main %}
 <main>           
<section class="home-section">
  <div class="home-content">
      <i class='bx bx-menu'></i>
      <!-- <span class="text">Menú</span> -->
  </div>
  {% block formulario %}

  
  {% endblock  %}
</section>
</main>    
                               
        
{% endblock %}

{% comment %} {% block javascript %} {% endcomment %}
{% comment %} <script src="{% static "js/interfaceAdmin/botonDesplegable.js" %}"></script> {% endcomment %}
{% comment %} {% endblock  %} {% endcomment %}




