{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasteleria Eliel</title>
    {% comment %} {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} {% endcomment %}

    {% comment %} google font {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="shortcut icon" type="image/png" href="{% static "imagen/logo/logo.webp" %}" />
    {% block link %}
    {% endblock  %}
    <!-- Data table.css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




</head>

<body>
    
        {% block header %}

        {% endblock  %}
        
    
   
        {% block main %}
        {% endblock %}

        {% block scripts %}
        {% endblock  %} 
   
    <footer>
        {% block footer %}
        {% endblock  %}
    </footer>
    <script src="{% static 'js/principalPage/materialesCard.js' %}"></script>
    <script src="{% static 'js/principalPage/mensajes.js' %}"></script>

 
    <!-- Data table.js -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

    <script type="application/javascript">
        $(document).ready(function(){
          new DataTable('#example', {
            responsive: true,
            "language": {
              "lengthMenu":"Cantidad de Items _MENU_ por Página",
              "search": "Buscar:",
              "info":"Pagina _START_ - _END_ de _TOTAL_ entradas",
              "infoEmpty": "Mostrando 0 to 0 de 0 entradas",
              "paginate": {
                "last": "Ultima pagina",
                "previous": "Anterior",
                "next": "Siguiente",
              }
            }
          });
        });
      </script> {% endcomment %}


    {% block javascript %}
    {% endblock  %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script>
      let arrow = document.querySelectorAll(".arrow");
      for(var i= 0; i < arrow.length; i++){
          arrow[i].addEventListener("click",(e)=>{
              console.log(e);
              let arrowParent = e.target.parentElement.parentElement;
              arrowParent.classList.toggle("showMenu");
          });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn)
      sidebarBtn.addEventListener("click",()=>{
          sidebar.classList.toggle("close");
      })
  </script>
  {% block dataTable %}
  {% endblock  %}
  </body>

</html>