{% load static %}

<footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>Empresa</h4>
         <ul>
           <li><a href="#">Sobre Nosotros</a></li>
           <li><a href="#">Nuestros Servicios</a></li>
           <li><a href="#">Politica</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Contacto</h4>
         <ul>
           <li>Telefono</li>
           <ul>
            <li><i class='bx bxs-phone-call' style='color:#f5f7f9'  ></i>+569 50671415</li>
           </ul>
           <li>Email</li>
           <ul>
               <li><i class='bx bxs-envelope' style='color:#f5f7f9' ></i>pasteleriaeliel@gmail.com</li>
           </ul>
           <li>Dirección</li>
           <ul>
               <li><i class='bx bxs-map' style='color:#f5f7f9' ></i> Nueva norte 1325</li>
               <li><i class='bx bxs-map' style='color:#f5f7f9' ></i> Parque Manuel Rodríguez</li>
           </ul>
           <li> Horario</li>
           <ul>
               <li><i class='bx bxs-time-five' style='color:#f5f7f9' ></i> 09:00 a 20:30</li>
           </ul>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Nuestras Tiendas</h4>
         <ul>
           <li><a href="#">Carta</a></li>
           <li><a href="#">Cafetería</a></li>

         </ul>
       </div>
       <div class="footer-col">
         <h4>Redes Sociales</h4>
         <div class="social-links">
            <a href="https://www.instagram.com/pasteleriaeliel/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><i class='bx bxl-instagram' style='color:#a8459a'></i></a>
            <a href="https://web.facebook.com/ElielPasteleria/?_rdc=1&_rdr" target="_blank"><i class='bx bxl-facebook' style='color:#4579a8'></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>

