{% extends "principalPage/estructura/base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/principalPage/mensaje.css' %}">
<link rel="stylesheet" href="{% static 'css/principalPage/animation.css' %}">
{% endblock  %}



{% block header %}
    {% include "principalPage/header/nav.html" %}

{% endblock  %}

{% block main %} 
    {% include "principalPage/main/main.html" %}
    
{% endblock  %}
            
{% block footer %}
    {% include "principalPage/footer/footer.html" %}
{% endblock  %}
            
